body{
  padding-top: 50px; 
}
.login-credential .container{
    padding-top: 20px;
    border-radius: 10px;
    width: 90%; 
    box-shadow:1px 5px 15px lightgray
}
.card{
    box-shadow:1px 5px 15px lightgray;
}
#transition-detail{
    padding-top:50px;
    display: none;
}